<div class="col-md-4">
    <h1>Register</h1>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form" novalidate ng-submit="register()" name="myForm">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="uname" ng-model="registerForm.name" required ng-minlength="5">
            <span class="has-error alert text-danger" ng-show="myForm.$dirty && myForm.uname.$touched">
                    <span ng-show="myForm.uname.$error.required">This is a required field</span>
                    <span ng-show="myForm.uname.$error.minlength">Minimum length required is 5</span>
            </span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" ng-model="registerForm.email" required>
            <span class="has-error alert text-danger" ng-show="myForm.$dirty && myForm.email.$touched">
                <span ng-show="myForm.$dirty && myForm.email.$error.required">This is a required field</span>
                <span ng-show="myForm.$dirty && myForm.email.$invalid">This field is invalid </span>
            </span>
        </div>
        <div class="form-group">
        <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="registerForm.password" required ng-minlength="5">
            <span class="has-error alert text-danger" ng-show="myForm.$dirty && myForm.password.$touched">
                <span class="alert text-danger" ng-show="myForm.$dirty && myForm.password.$error.required">This is a required field</span>
                <span class="alert text-danger" ng-show="myForm.$dirty && myForm.password.$error.minlength">Minimum length required is 5</span>
            </span>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" ng-model="registerForm.confirmPassword" compare-to="registerForm.password" required>
            <span class="alert text-danger" ng-show="myForm.$dirty && myForm.confirmPassword.$touched && myForm.confirmPassword.$invalid">This is not matching with password</span>
        </div>
        <div>
            <button type="submit" class="btn btn-default" ng-disabled="myForm.$invalid">Register</button>
        </div>
    </form>
</div>